body {
    color: #d1d1d1;
    background-color: #111111;
    margin: 0;
    margin-top: 140px;
    padding: 0;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    --sb-track-color: #111111;
    --sb-thumb-color: #d1d1d1;
    --sb-size: 13px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 41px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 41px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

.max-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Inter';
    width: 900px;
    width: 100%; 
    max-width: 900px;
    padding: 0 20px; 
}

.mc-foto-perfil > img {
    width: 100%; 
    max-width: 140px;
    border-radius: 0.875rem;
    margin-bottom: 0.625rem;
    filter: drop-shadow(0px 0 20px #4e4b6b);
}

.mc-name {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.mc-biografia-1 > p, .mc-biografia-2 > p {
    width: 100%;  
}

.mc-biografia-1 {
    margin-bottom: 0.625rem;
}

.mc-biografia-1 > p {
    width: 85%;
}

.mc-biografia-2 {
    margin-bottom: 20px;
}

.mc-biografia-2 > p {
    width: 90%;
}

.mc-contato {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    margin-bottom: 25px;
}

.mc-contato > h2 {
    font-weight: bold;
}

.mc-contato > a {
    background-color: #1f1f1f;
    background-color: #1f1f1f;

    padding: 5px 10px 5px 10px;
    border-radius: 5px;

    text-decoration: none;
}

.mc-card > a > img {
    width: 25px;
}

.mc-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0.65em 2em;
    background-color: #1f1f1f;
    border-style: solid;
    border-color: #2c2c2c;
    border-radius: 10px;
    cursor: pointer;
    transition: 500ms linear;
    max-width: 350px; 
    flex: 1;
}

.mc-card:hover {
    color: #f3f3f3;
    background-color: #272727; 

    transform: scale(1.1);
}

.mc-card > a {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    color: #d1d1d1;
    font-size: 1.1rem;
}

.mc-contatos-cards{
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
    margin-bottom: 50px;
}

.mc-card-contato {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mc-card-contato2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mc-container-projeto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mc-container-projeto > a {
    background-color: #1f1f1f;
    padding: 50px 300px;
    text-decoration: none;
    color: #d1d1d1;
    border-radius: 20px;
    border-style: solid;
    border-color: #2c2c2c;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: bold;
    padding: 90px 40px;
}

.mc-container-projeto:hover {
    color: #f3f3f3;
    text-decoration: underline;
    transition: 500ms linear;
}

@media (max-width: 768px) {


    .mc-foto-perfil > img {
        max-width: 100%;
    }
    
    .mc-contato {
        flex-direction: column;
        align-items: center;
    }
    
    .mc-card {
        max-width: 100%; 
    }

    .mc-name {
        font-size: 1.2em; /* Reduzido o tamanho do nome em telas menores */
    }
    
    .mc-container-projeto > a {
        font-size: 1.2em; /* Reduzido o tamanho do texto do botão em telas menores */
    }  
    
}
