body {
    color: #d1d1d1;
    background-color: #111111;
    margin: 0;
    margin-top: 140px;
    padding: 0;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    --sb-track-color: #111111;
    --sb-thumb-color: #d1d1d1;
    --sb-size: 13px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 41px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 41px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

.mc-container-projetos {
    display: flex;
    flex-direction: row;

    margin-top: 20px;
    gap: 35px;
}


.cp-projeto {
    color: #d1d1d1;
    background-color: #1f1f1f;
    padding: 150px 00px ;

    border-radius: 15px;
    border-style: solid;
    border-color: #2c2c2c;
    position: relative;
}

#cp-projeto1 {
    padding: 150px;
    padding-bottom: 30px;
}

#cp-projeto2 {
    padding: 150px;
    padding-bottom: 30px;
}

#cp-projeto1 > img {
    width: 100%;
    position: absolute;

    left: 0;
    top: 0;
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#cp-projeto1 > h1 {
    margin-top: 160px;
}

#cp-projeto2 > img {
    width: 100%;
    position: absolute;

    left: 0;
    top: 0;
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#cp-projeto2 > h1 {
}
